/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a,a:visited{text-decoration:none;}
a:hover{cursor: pointer;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
@font-face {
	font-family: 'Docker';
	src: url('../fonts/Docker One.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Beryozki';
	src: url('../fonts/Beryozki.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT-sans';
	src: url('../fonts/PTSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT-sans-italic';
	src: url('../fonts/PTSans-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Docker';
}
body.lock {
	overflow: hidden;
}
.menu {
	top: 0;
	left: 0;
	transition-duration: 2s;
	width: 100%;
	height: 75px;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 4;
	opacity: 0.9;
}
.menu:before {
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #6b015d;
}
.menu-list {
	transition-duration: 2s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	width: 470px;
	height: 75px;
	transition-duration: 0.8s;
	transform: translateX(120%);
	opacity: 0;
}
.menu-list._active {
	transform: translateX(0);
	opacity: 1;
}
.logo {
	display: block;
	background: url('../imgs/logo1.png') 0 0/76px 75px no-repeat;
	height: 75px;
	width: 76px;
	transition-duration: 0.8s;
	transform: translateX(-120%);
	opacity: 0;
}
.logo._active {
	transform: translateX(0);
	opacity: 1;
}
.logo.clicked {
	transition-duration: 1s;
	background: url('../imgs/logo2.png') 0 0/76px 75px no-repeat;
}
.container {
	width: 100%;
	max-width: 85%;
	margin: 0 auto;
	padding: 0 15px;
}
header .container {
	display: flex;
	justify-content: space-between;
}
nav li {
	transition-duration: 0.3s;
}
nav li:hover {
	transform: scale(1.2);
	transition-duration: 0.3s;
}
nav a {
	color: #fff;
}
@media (min-width: 1824px) {
	.menu {
		height: 100px;
		padding: 0 30px;
	}
	.menu-list {
		font-size: 40px;
		width: 750px;
		height: 100px;
	}
	.logo {
		background: url('../imgs/logo1.png') 0 0/102px 100px no-repeat;
		height: 102px;
		width: 100px;
	}
	.logo.clicked {
		background: url('../imgs/logo2.png') 0 0/102px 100px no-repeat;
	}
}
@media (max-width: 1224px) {
	.container {
		max-width: 90%;
	}
	.menu {
		height: 50px;
		padding: 0 30px;
	}
	.menu-list {
		font-size: 19px;
		width: 375px;
		height: 50px;
	}
	.logo {
		margin: -5px 0 0 0;
		background: url('../imgs/logo1.png') 0 0/60px 60px no-repeat;
		height: 60px;
		width: 60px;
	}
	.logo.clicked {
		background: url('../imgs/logo2.png') 0 0/60px 60px no-repeat;
	}
}
@media (max-width: 767px) {
	.menu .burger {
		position: absolute;
		width: 30px;
		height: 20px;
		display: block;
		right: 15px;
		top: 15px;
		z-index: 3;
	}
	.menu .burger:before,
	.menu .burger:after {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		background: #fff;
		transition-duration: .5s;
	}
	.menu .burger:before {
		top: 0;
	}
	.menu .burger:after {
		bottom: 0;
	}
	.menu .burger span {
		position: absolute;
		background: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition-duration: .5s;
	}
	.menu nav {
		position: fixed;
		z-index: 1;
		width: 100%;
		padding: 70px 0 0 0;
		top: -100%;
		left: 0;
		height: 100%;
		opacity: 1;
		background: #6b015d;
		transition-duration: .5s;
	}
	.menu nav.active {
		top: 0;
	}
	.menu-list {
		font-size: 24px;
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		transform: translateX(0);
		opacity: 1;
	}
	.menu-list.active {
		top: 0;
	}
	.menu-list li {
		padding: 0 0 20px 0;
	}
	.logo {
		position: absolute;
		left: 15px;
		z-index: 3;
	}
	.burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.burger.active span {
		transform: scale(0);
	}
	.burger {
		transition-duration: 0.8s;
		transform: translateX(120%);
		opacity: 0;
	}
	.burger._active {
		transform: translateX(0);
		opacity: 1;
	}
}
.meeting {
	overflow: hidden;
	font-family: 'PT-sans-italic';
	padding: 115px 0;
	background: url('../imgs/full-logo.jpg') fixed;
	color: #2d3157;
}
.person {
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: center;
	padding: 25px 0;
}
.meeting .title {
	border-radius: 50px;
	height: 100px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.95);
	cursor: default;
	font-size: 60px;
	margin: 0 auto 30px auto;
	transform: translateX(50vw);
	opacity: 0;
	transition: all .5s ease;
}
.meeting .title._active {
	transform: translateX(0);
	opacity: 1;
}
.left1 {
	border-radius: 25px;
	height: 450px;
	width: 450px;
	background: url('../imgs/Alex.jpg') 0 0/ 450px 450px no-repeat;
}
.left2 {
	border-radius: 25px;
	height: 450px;
	width: 450px;
	background: url('../imgs/Den.jpg') 0 0/ 450px 450px no-repeat;
}
.left3 {
	border-radius: 25px;
	height: 450px;
	width: 450px;
	background: url('../imgs/Andrew.jpg') 0 0/ 450px 450px no-repeat;
}
.left4 {
	border-radius: 25px;
	height: 450px;
	width: 450px;
	background: url('../imgs/Nic.jpg') 0 0/ 450px 450px no-repeat;
}
.right .subtitle {
	text-align: center;
	font-size: 40px;
	padding: 0 0 10px 0;
}
.right {
	cursor: default;
	transition-duration: .5s;
	background: #fff;
	box-shadow: 0 0 30px #6b015d;
	border-radius: 25px;
	padding: 15px 25px;
}
.right .person-text {
	line-height: 1.4;
	font-size: 22px;
}
.left1, .left2, .left3, .left4, .left5 {
	transform: translateX(-50vw);
	opacity:  0;
	transition: all 0.5s ease .2s; 
}
.left1._active, .left2._active, .left3._active, .left4._active, .left5._active {
	transform: translateX(0);
	opacity: 1;
}
.right {
	transform: translateX(50vw);
	opacity: 0;
	transition: all 0.5s ease .4s;
}
.right._active {
	transform: translateX(0);
	opacity: 1;
}
@media (min-width: 1824px) {
	.meeting .title {
		font-size: 120px;
		padding: 0 0 60px 0;
	}
	.right {
		max-height: 700px;
		overflow: auto;
		border-radius: 50px;
		padding: 50px;
	}
	.left1 {
		border-radius: 50px;
		height: 700px;
		width: 700px;
		background: url('../imgs/Alex.jpg') 0 0/ 700px 700px no-repeat;
	}
	.left2 {
		border-radius: 50px;
		height: 700px;
		width: 700px;
		background: url('../imgs/Den.jpg') 0 0/ 700px 700px no-repeat;
	}
	.left3 {
		border-radius: 50px;
		height: 700px;
		width: 700px;
		background: url('../imgs/Andrew.jpg') 0 0/ 700px 700px no-repeat;
	}
	.left4 {
		border-radius: 50px;
		height: 700px;
		width: 700px;
		background: url('../imgs/Nic.jpg') 0 0/ 700px 700px no-repeat;
	}
	.right .person-text {
		line-height: 1.3;
		font-size: 34px;
	}
	.right .subtitle {
		font-size: 64px;
		padding: 0 0 20px 0;
	}
}
@media (max-width: 1224px) {
	.meeting {
		padding: 80px 0 30px 0;
	}
	.person {
		grid-template-columns: 35% 45%;
	}
	.meeting .title {
		font-size: 50px;
		padding: 0 0 30px 0;
	}
	.right {
		border-radius: 15px;
		padding: 15px;
	}
	.left1 {
		border-radius: 15px;
		height: 400px;
		width: 300px;
		background: url('../imgs/Alex.jpg') -50px 0/ 400px 400px no-repeat;
	}
	.left2 {
		border-radius: 15px;
		height: 400px;
		width: 300px;
		background: url('../imgs/Den.jpg') -50px 0/ 400px 400px no-repeat;
	}
	.left3 {
		border-radius: 15px;
		height: 400px;
		width: 300px;
		background: url('../imgs/Andrew.jpg') -50px 0/ 400px 400px no-repeat;
	}
	.left4 {
		border-radius: 15px;
		height: 400px;
		width: 300px;
		background: url('../imgs/Nic.jpg') -50px 0/ 400px 400px no-repeat;
	}
	.right .person-text {
		line-height: 1.3;
		font-size: 18px;
	}
	.right .subtitle {
		font-size: 30px;
		padding: 0 0 10px 0;
	}
}
@media (max-width: 1023px) {
	.meeting {
		padding: 70px 0 20px 0;
	}
	.person {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-row-gap: 20px;
		padding: 0 0 60px;
	}
	.left {
		margin: 0 auto;
	}
	.left1 {
		border-radius: 20px;
		height: 500px;
		width: 500px;
		background: url('../imgs/Alex.jpg') 0 0/ 500px 500px no-repeat;
	}
	.left2 {
		border-radius: 20px;
		height: 500px;
		width: 500px;
		background: url('../imgs/Den.jpg') 0 0/ 500px 500px no-repeat;
	}
	.left3 {
		border-radius: 20px;
		height: 500px;
		width: 500px;
		background: url('../imgs/Andrew.jpg') 0 0/ 500px 500px no-repeat;
	}
	.left4 {
		border-radius: 20px;
		height: 500px;
		width: 500px;
		background: url('../imgs/Nic.jpg') 0 0/ 500px 500px no-repeat;
	}
	.right {
		transition: all 0.5s ease .2s;
		width: 500px;
		margin: 0 auto;
		border-radius: 20px;
	}
	.meeting .title {
		font-size: 50px;
		height: 70px;
		margin: 0 auto;
	}
}
@media (max-width: 630px) {
	.person {
		grid-row-gap: 15px;
		padding: 0 0 50px;
	}
	.left1 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Alex.jpg') 0 0/ 350px 350px no-repeat;
	}
	.left2 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Den.jpg') 0 0/ 350px 350px no-repeat;
	}
	.left3 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Andrew.jpg') 0 0/ 350px 350px no-repeat;
	}
	.left4 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Nic.jpg') 0 0/ 350px 350px no-repeat;
	}
	.right {
		width: 350px;
		border-radius: 15px;
	}
	.meeting .title {
		font-size: 40px;
		height: 60px;
		width: 300px;
	}
	.right .person-text {
		line-height: 1.3;
		font-size: 16px;
	}
	.right .subtitle {
		font-size: 24px;
		padding: 0 0 10px 0;
	}
}
@media (max-width: 630px) {
	.person {
		grid-row-gap: 15px;
		padding: 0 0 50px;
	}
	.left1 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Alex.jpg') 0 0/ 350px 350px no-repeat;
	}
	.left2 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Den.jpg') 0 0/ 350px 350px no-repeat;
	}
	.left3 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Andrew.jpg') 0 0/ 350px 350px no-repeat;
	}
	.left4 {
		border-radius: 15px;
		height: 350px;
		width: 350px;
		background: url('../imgs/Nic.jpg') 0 0/ 350px 350px no-repeat;
	}
	.right {
		width: 350px;
		border-radius: 15px;
	}
	.meeting .title {
		font-size: 40px;
		height: 60px;
		width: 300px;
	}
	.right .person-text {
		line-height: 1.3;
		font-size: 16px;
	}
	.right .subtitle {
		font-size: 24px;
		padding: 0 0 10px 0;
	}
}
@media (max-width: 425px) {
	.person {
		grid-row-gap: 15px;
		padding: 0 0 40px;
	}
	.meeting .title {
		font-size: 36px;
		padding: 0 0 20px 0;
		width: 250px;
	}
	.left1 {
		border-radius: 15px;
		height: 250px;
		width: 250px;
		background: url('../imgs/Alex.jpg') 0 0/ 250px 250px no-repeat;
	}
	.left2 {
		border-radius: 15px;
		height: 250px;
		width: 250px;
		background: url('../imgs/Den.jpg') 0 0/ 250px 250px no-repeat;
	}
	.left3 {
		border-radius: 15px;
		height: 250px;
		width: 250px;
		background: url('../imgs/Andrew.jpg') 0 0/ 250px 250px no-repeat;
	}
	.left4 {
		border-radius: 15px;
		height: 250px;
		width: 250px;
		background: url('../imgs/Nic.jpg') 0 0/ 250px 250px no-repeat;
	}
	.right {
		width: 250px;
		border-radius: 15px;
	}
	.right .person-text {
		line-height: 1.3;
		font-size: 16px;
	}
	.right .subtitle {
		font-size: 24px;
		padding: 0 0 5px 0;
	}
}
.carousel {
	padding: 75px 0 0 0;
	position: relative;
}
.carousel-container	{
	overflow: hidden;
}
.carousel-track {
	display: flex;
	transition-duration: .5s;
}
.carousel-item img {
	width: 100vw;
}
.carousel-dot {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #817b7b;
	border: 1px solid #6b015d;
	transition-duration: .2s;
}
.carousel-dot:hover {
	background-color: #6b015d;
	transition-duration: .2s;
}
.carousel-dot.active {
	background-color: #6b015d;
	transition-duration: .2s;
}
.carousel-dots {
	position: absolute;
	bottom: 10px;
	left: 46.5vw;
	display: flex;
	width: 100px;
	justify-content: space-between;
}
@media (max-width: 767px) {
	.carousel {
		display: none;
	}
}
@media (max-width: 1224px) {
	.carousel {
		padding: 50px 0 0 0;
	}
	.carousel-dots {
		bottom: 10px;
		left: 46vw;
		width: 75px;
	}
	.carousel-dot {
		width: 15px;
		height: 15px;
		border: 1px solid #6b015d;
	}
}
@media (min-width: 1824px) {
	.carousel {
		padding: 100px 0 0 0;
	}
	.carousel-dots {
		bottom: 20px;
		left: 46vw;
		width: 200px;
	}
	.carousel-dot {
		width: 40px;
		height: 40px;
		border: 2px solid #6b015d;
	}
}
.covenant {
	overflow: hidden;
	font-family: 'Beryozki';
	font-size: 48px;
	padding: 125px 0 20px 0;
	background-image: url(../imgs/depositphotos_191867758-stock-illustration-young-birch-bark-vector-natural.jpg);
}
.covenant h2 {
	cursor: default;
	font-size: 100px;
	text-align: center;
	transform: translateX(50vw);
	opacity: 0;
	transition: all 0.5s ease .2s;
}
.covenant h2._active {
	transform: translateX(0);
	opacity: 1;
}
.covenant p {
	padding: 0 0 30px 0;
}
.covenant h3 {
	font-size: 54px;
	padding: 20px 0;
	margin: 0 0 0 5px;
}
.first {
	padding: 0 0 0 50px;
	font-size: 52px;
	color: #fc0000;
}
.chapter__title {
	position: relative;
	padding: 0 0 0 50px;
	cursor: pointer;
}
.chapter__title:before,
.chapter__title:after {
	content: '';
	width: 15px;
	height: 1px;
	background: #000;
	position: absolute;
	top: 45px;
	transition-duration: 0.5s;
}
.chapter__title:before {
	transform: rotate(40deg);
	left: 17px;
}
.chapter__title.active:before {
	transform: rotate(-40deg);
	background: #fc0000;
}
.chapter__title:after {
	transform: rotate(-40deg);
	left: 28px;
}
.chapter__title.active:after {
	transform: rotate(40deg);
	background: #fc0000;
}
.chapter__text {
	display: none;
	padding: 0 0 0 20px;
}
.chapter1, .chapter2, .chapter3 {
	transform: translateX(-50vw);
	opacity: 0;
}
.chapter1._active {
	transform: translateX(0);
	opacity: 1;
	transition: all 0.5s ease .4s;
}
.chapter2._active {
	transform: translateX(0);
	opacity: 1;
	transition: all 0.5s ease .5s;
}
.chapter3._active {
	transform: translateX(0);
	opacity: 1;
	transition: all 0.5s ease .6s;
}
@media (max-width: 1224px) {
	.covenant {
		font-size: 36px;
		padding: 75px 0 30px 0;
	}
	.covenant h2 {
		font-size: 80px;
	}
	.covenant p {
		padding: 0 0 10px 0;
	}
	.covenant h3 {
		font-size: 46px;
		padding: 10px 0;
		margin: 0 0 0 -25px;
	}
	.first {
		padding: 0 0 0 30px;
		font-size: 48px;
	}
	.chapter__title {
		padding: 0 0 0 100px;
	}
	.chapter__title:before,
	.chapter__title:after {
		width: 15px;
		height: 1px;
		top: 30px;
	}
	.chapter__title:before {
		left: 49px;
	}
	.chapter__title:after {
		left: 38px;
	}
	.chapter__text {
		display: none;
		padding: 0 0 0 35px;
	}
	.covenant.container {
		max-width: 85%;
	}
}
@media (min-width: 1824px) {
	.covenant {
		font-size: 80px;
		padding: 135px 0 50px 0;
	}
	.covenant h2 {
		font-size: 150px;
	}
	.covenant p {
		padding: 0 0 40px 0;
	}
	.covenant h3 {
		font-size: 90px;
		padding: 20px 0;
	}
	.first {
		padding: 0 0 0 60px;
		font-size: 95px;
	}
	.chapter__title {
		padding: 0 0 0 100px;
	}
	.chapter__title:before,
	.chapter__title:after {
		width: 30px;
		height: 2px;
		top: 60px;
	}
	.chapter__title:before {
		left: 50px;
	}
	.chapter__text {
		display: none;
		padding: 0 0 0 35px;
	}
}
@media (max-width: 630px) {
	.covenant {
		font-size: 32px;
		padding: 75px 0 30px 0;
	}
	.covenant h2 {
		font-size: 70px;
	}
	.covenant h3 {
		font-size: 36px;
		padding: 10px 0;
	}
	.covenant p {
		padding: 0 0 10px 0;
	}
	.first {
		padding: 0 0 0 20px;
		font-size: 42px;
	}
	.chapter__title {
		padding: 0 0 0 60px;
	}
	.chapter__title:before,
	.chapter__title:after {
		width: 15px;
		height: 1px;
		top: 25px;
	}
	.chapter__title:before {
		left: 11px;
	}
	.chapter__title:after {
		left: 0px;
	}
	.chapter__text {
		display: none;
		padding: 0 0 0 5px;
	}
	.covenant .container {
		max-width: 95%;
	}
}
@media (max-width: 425px) {
	.covenant {
		font-size: 28px;
		padding: 65px 0 30px 0;
	}
	.covenant h2 {
		font-size: 62px;
	}
	.covenant h3 {
		font-size: 32px;
		padding: 10px 0;
	}
	.covenant p {
		padding: 0 0 10px 0;
	}
	.first {
		padding: 0 0 0 20px;
		font-size: 36px;
	}
	.chapter__text {
		display: none;
		padding: 0 0 0 5px;
	}
	.covenant .container {
		max-width: 100%;
		padding: 0 15px;
	}
}
.poster img {
	width: 500px;
}
.posters {
	display: grid;
	grid-template-columns: 500px 500px;
	justify-content: center;
	grid-row-gap: 50px;
	grid-column-gap: 30px;
	grid-template-areas: 'a b' 'a c' 'd c' 'e c';
}
.agitation .title {
	cursor: default;
	position: relative;
	text-align: center;
	font-size: 60px;
	color: #8f0018;
	padding: 0 0 20px 0;
	font-family: 'Docker';
}
.agitation .title span:before {
	content: '';
	width: 330px;
	height: 4px;
	background: #f9f9f9;
	position: absolute;
	bottom: 20px;
	border-radius: 5px;
	transform: translateX(-500px);
	transition-duration: .5s;
}
.agitation .title span:hover:before {
	transition-duration: .5s;
	content: '';
	width: 330px;
	height: 4px;
	background: #000;
	position: absolute;
	bottom: 20px;
	border-radius: 5px;
	transform: translateX(0);
}
.poster1 {
	grid-area: a;
}
.poster2 {
	grid-area: b;
}
.poster3 {
	grid-area: c;
}
.poster4 {
	grid-area: d;
}
.poster5 {
	grid-area: e;
}
.agitation {
	background: #f9f9f9;
	padding: 115px 0 50px 0;
}
.popup {
	overflow: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 5;
	opacity: 0;
	transition: all 0.8s ease-out 0s;
}
.popup.open {
	visibility: visible;
	opacity: 1;
}
.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__img img {
	max-height: 100vh;
	max-width: 100vw;
}
.popup__close {
	position: absolute;
	top: 5px;
	right: 5px;
	float: right;
}
.popup__content {
	position: relative;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease-out 0s;
	transform: translate(-100%, 0);
}
.popup.open .popup__content {
	transform: translate(0, 0);
	opacity: 1;
}
.popup a img {
	width: 30px;
	transition: 0.5s; 
}
.popup a img:hover {
	transform: scale(1.5);
}
@media (max-width: 767px) {
	.poster img {
		width: 350px;
	}
	.posters {
		grid-template-columns: 350px 350px;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
	.agitation .title {
		font-size: 50px;
		padding: 0 0 30px 0;
	}
	.agitation .title span:before {
		width: 270px;
		height: 4px;
		bottom: 30px;
		border-radius: 5px;
	}
	.agitation .title span:hover:before {
		width: 270px;
		height: 4px;
		bottom: 30px;
		border-radius: 5px;
	}
	.agitation {
		padding: 75px 0 40px 0;
	}
}
@media (max-width: 1224px) {
	.poster img {
		width: 300px;
	}
	.posters {
		grid-template-columns: 300px 300px;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
	.agitation .title {
		font-size: 50px;
		padding: 0 0 30px 0;
	}
	.agitation .title span:before {
		width: 270px;
		height: 4px;
		bottom: 30px;
		border-radius: 5px;
	}
	.agitation .title span:hover:before {
		width: 270px;
		height: 4px;
		bottom: 30px;
		border-radius: 5px;
	}
	.agitation {
		padding: 75px 0 40px 0;
	}
}
@media (min-width: 1824px) {
	.poster img {
		width: 750px;
	}
	.posters {
		grid-template-columns: 750px 750px;
		grid-row-gap: 50px;
		grid-column-gap: 50px;
	}
	.agitation .title {
		font-size: 120px;
		padding: 0 0 50px 0;
	}
	.agitation .title span:before {
		width: 650px;
		height: 8px;
		bottom: 50px;
		border-radius: 10px;
	}
	.agitation .title span:hover:before {
		width: 650px;
		height: 8px;
		bottom: 50px;
		border-radius: 10px;
	}
	.agitation {
		padding: 150px 0 100px 0;
	}
	.popup__close {
		top: 7px;
		right: 7px;
	}
	.popup a img {
		width: 60px;
	}
	.popup a img:hover {
		transform: scale(1.3);
	}
}
@media (max-width: 630px) {
	.poster img {
		width: 300px;
	}
	.poster {
		margin: 0 auto;
	}
	.posters {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		grid-template-areas: 'a' 'b' 'c' 'd' 'e';
	}
	.agitation .title {
		font-size: 40px;
		padding: 0 0 20px 0;
	}
	.agitation {
		padding: 70px 0 40px 0;
	}
	.agitation .title span:before {
		width: 216px;
		bottom: 20px;
	}
	.agitation .title span:hover:before {
		width: 216px;
		bottom: 20px;
	}
}
@media (max-width: 425px) {
	.poster img {
		width: 250px;
	}
	.agitation .title {
		font-size: 36px;
		padding: 0 0 20px 0;
	}
	.agitation .title span:before {
		width: 195px;
		bottom: 20px;
		height: 3px;
		border-radius: 4px;
	}
	.agitation .title span:hover:before {
		width: 195px;
		bottom: 20px;
		height: 3px;
		border-radius: 4px;
	}
}
footer {
	background: #6b015d;
	font-size: 30px;
	text-align: center;
	color: #fff;
}
footer .container {
	font-family: 'Docker';
	padding: 50px 0;
}
@media (max-width: 1224px) {
	footer {
		font-size: 20px;
	}
	footer .container {
		padding: 25px 0;
	}
}
@media (min-width: 1824px) {
	footer {
		font-size: 60px;
	}
	footer .container {
		padding: 75px 0;
	}
}
@media (max-width: 630px) {
	footer {
		font-size: 14px;
	}
	footer .container {
		padding: 20px 0;
	}
}